
/* GENERAL */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* BACK BUTTON */
.backButton {
	background:linear-gradient(to bottom, #bcd1cb 5%, #969e9e 100%);
	background-color:#bcd1cb;
	border-radius:27px;
	border:1px solid #9ea6a3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
  text-shadow:0px 2px 5px #9fa8a7;
  margin-top: 10px;
  margin-bottom: 10px;
}
.backButton:hover {
	background:linear-gradient(to bottom, #969e9e 5%, #bcd1cb 100%);
	background-color:#969e9e;
}
.backButton:active {
	position:relative;
	top:1px;
}


/* APP */

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.views {
  height: 75vh;
  width: 100%;
  overflow: scroll;
}

/* HEADER */

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 10vh;
  background-color: beige;
  margin-bottom: 10px;
}

/* HOME */

.HomeDiv {
  width: 100%;
}

.myLogo {
  max-width: 300px;
  max-height: 100px;
}

.LinkHomeImage {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;  
  
}

.divButtonsHome {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.divHomeImage {
  width: 100%;
  height: 150px;
  background-image: url("./assets/maps_image_home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
justify-content: center;
}

.textHomeImage {
  color: #FFFFFF;
  font-size: 30px;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0px 0px 11px rgba(206,206,206,0);
}

.divButtonsHomeLink {
  display: flex;
  justify-content: space-evenly;
}

.buttonsHomeLink {
	box-shadow:inset 0px 0px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:10px;
	border:2px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:16px;
	font-weight:bold;
	padding:11px 38px;
	text-decoration:none;
  text-shadow:0px 0px 0px #2b665e;
  margin-top: 10px;
}
.buttonsHomeLink:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.buttonsHomeLink:active {
	position:relative;
	top:1px;
}
/* FOOTER */

.navbar {
  display:  flex;
  align-items: flex-start;
  flex-wrap: nowrap !important;
  /* padding-top: 1vh; */
}

.buttonsNav {
  padding: 0 !important;
}

.footer {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

/* CITIES */
.searchBarCitiesDiv {
  margin-bottom: 20px !important;
}

.citiesDiv {
  width: 100%;
}

/* CREATE ACCOUNT & LOGIN */

.title {
  padding-top: 0;
}

.divFormCreateAcc {
  width: 100%;
  height: 100%;
  background-color:#6c7c7c;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;

}

.form-group {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.formCreateAcc {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 3%;
  border: 9px solid rgba(28,110,164,0.93);
  border-radius: 9px;
  background-color: cadetblue;
}

/* LOGIN */

.loginCont {
  height: 50%;
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;

}

.loginSuccesDiv {
  border: #333 solid;  
  height: 30%;
  width: 30%; 
  background: #2b665e;
}

.loginSuccesCont {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #bcd1cb;

}

.loginDiv {
  width: 100%;
  height: 100%;
  background-color:#6c7c7c;
  display: flex;
  align-items: center;
  justify-content: center;


}

.formLogin {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 3%;
  border: 9px solid rgba(28,110,164,0.93);
  border-radius: 9px;
  background-color: cadetblue;
}